{% load static %}

<!-- Sidebar -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
<style>
    nav-item i:hover {
        color: #ffffff!important;
    }
</style>

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="{% url 'dashboard' %}" class="logo">
                <img src="{% static 'img/logo.png' %}" alt="navbar brand" class="navbar-brand" height="40" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">

                <!-- DASHBOARD -->
                <li class="nav-item {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <!-- CAJA -->
                <li class="nav-item {% if request.resolver_match.app_name == 'caja' %}active{% endif %}">
                    <a href="{% url 'caja:cashregister' %}">
                        <i class="bi bi-bag-check-fill"></i>
                        <p>Caja</p>
                    </a>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon"><i class="fas fa-bolt"></i></span>
                    <h4 class="text-section">CLINICA</h4>
                </li>

                <!-- SECCIÓN: AGENDA -->
                <li class="nav-item {% if request.resolver_match.url_name == 'agenda' %}active{% endif %}">
                    <a href="{% url 'agenda:agenda' %}">
                        <i class="fas fa-calendar-alt"></i>
                        <p>Agenda</p>
                    </a>
                </li>



                <!-- SECCIÓN: PACIENTES -->
                <li class="nav-item {% if request.resolver_match.url_name == 'pacientes' %}active{% endif %}">
                    <a href="{% url 'hospital:pacientes' %}">
                        <i class="fas fa-paw"></i>
                        <p>Pacientes</p>
                    </a>
                </li>

                <!-- SECCIÓN: INVENTARIO -->
                <li class="nav-item {% if request.resolver_match.url_name == 'inventario' %}active{% endif %}">
                    <a href="{% url 'hospital:inventario' %}">
                        <i class="bi bi-box-seam"></i>
                        <p>Inventario</p>
                    </a>
                </li>
                <!-- SECCIÓN: SERVICIOS -->
                <li class="nav-item {% if request.resolver_match.url_name == 'servicios' %}active{% endif %}">
                    <a href="{% url 'hospital:servicios' %}">
                        <i class="bi bi-prescription2"></i>
                        <p>Servicios</p>
                    </a>
                </li>



        </div>
    </div>
</div>
<!-- End Sidebar -->