<div class="manage-wheel">
    <ul class="manage-wheel-list">
        {% if not custom_options %}
            <li>
                <a href="{{ view_url|default:'#' }}" class="manage-wheel-option">
                    <i class="fa fa-eye"></i> Ver
                </a>
            </li>
            <li>
                <a href="{{ edit_url|default:'#' }}" class="manage-wheel-option">
                    <i class="fa fa-edit"></i> Editar
                </a>
            </li>
            <li>
                <a href="{{ delete_url|default:'#' }}" class="manage-wheel-option" onclick="return confirm('¿Seguro que deseas eliminar?');">
                    <i class="fa fa-trash"></i> Eliminar
                </a>
            </li>
        {% else %}
            {% for option in custom_options %}
                <li>
                    <a href="{{ option.url }}" class="manage-wheel-option" {% if option.confirm %}onclick="return confirm('{{ option.confirm }}');"{% endif %}>
                        <i class="{{ option.icon }}"></i> {{ option.label }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
</div>