{% extends 'partials/base.html' %}
{% load static %}

{% block title %}Test Modal{% endblock %}

{% block content %}
<div class="vet-modal-overlay hide" id="modalEditarProducto">
    <div class="vet-custom-modal">
        <div class="vet-modal-content">

            <div class="vet-custom-modal-title">
                
                <h3>TITULO</h3>

                <i class="bi bi-x" style="margin-left:auto;cursor:pointer;"
                    onclick="closeVetModal('modalEditarProducto')"></i>
            </div>

            <div class="vet-modal-body">
                <div>
                    <p>Contenido del modal para editar el producto.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Botón -->
<button onclick="openVetModal('modalEditarProducto')" class="btn btn-primary">
    Editar Producto
</button>

{% endblock %}

{% block extra_js %}
<script>
    // Puedes agregar scripts adicionales aquí si es necesario
</script>
{% endblock %}
