<div class="vet-modal-overlay hide" id="{{ modal_id }}">
    <div class="vet-custom-modal">
        <div class="vet-modal-content">

            <div class="vet-custom-modal-title">
                {% if modal_icon %}
                <i class="{{ modal_icon }}"></i>
                {% endif %}
                <h3>{{ modal_title }}</h3>

                <i class="bi bi-x" style="margin-left:auto;cursor:pointer;"
                    onclick="closeVetModal('{{ modal_id }}')"></i>
            </div>

            <div class="vet-modal-body">
                {% if modal_body_template %}
                {% include modal_body_template %}
                {% else %}
                {{ modal_content|safe }}
                {% endif %}
            </div>

        </div>
    </div>
</div>